body {
    background-image: url(./images/IMG-20190705-WA0001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
}

.container {
    margin: 0px;
}

h1 {
    font-size: 150px; 
    color: black;
    padding: 50px 250px;
}

h2 {
    font-size: 80px;
    color: black;
    padding: 25px ;
}

.btn {
    font-size: 25px;
    color:rgba(0, 0, 0, 0.516);
    margin: 25px 5px;
    height: 50px;
    width: auto;
    padding:5px;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.btn a {
    text-decoration: none !important;
}

.nav {
    text-align: right;
    height: 150px;
    padding: 25px;
    background-color: white;
}

.buttons {
    margin-left: 500px;
}



/* 
Add wave page
*/

form {
    text-align: left;
    border: 1px solid white;
    font-size: 20px;
    /* background-color: rgba(255, 255, 255, .75);*/
    width: 470px;
    font-weight: bold;
    color: black;
    padding: 10px;
    margin: 5px;
}

label {
    height:10px;
    padding: 10px 0px;
}

input {
    height: 35px;
    width: 445px;
}

.dropDownLocationId {
    height: 2pc;
    width: 28pc;
    margin-bottom: 20px;
}

.formBtn {
    text-align: left;
}

/* 
Wave display page
*/



.pageTitle {
    color:black;
    font-size: 120px;
    padding: 30px 0px 30px 100px;
    text-align: center;

}

.info {
    text-align: left;
    padding: 30px 0px 20px 0px;
    font-size: 25px;
}

.col-lg-6 {
    padding: 30px 0px 30px 50px;
}

.img {
    width: 500px;
    height: 300px;
    padding: 20px 0px 20px 50px;
    
}

.waveTitle {
    color: black;
    font-size: 70px;
    width: 460px;
    padding: 20px 50px 20px 60px;
}

