body {
    font-family: 'Fjalla One', sans-serif;
    /* background-image: url(./images/20190627_210337.jpg); */
    /* background-image: url(https://images.unsplash.com/photo-1506710766034-d5b43d2af393?ixlib=rb-1.2.1&auto=format&fit=crop&w=1558&q=80); */
    background-size: cover;
    background-repeat: no-repeat;
    color: grey;
    font-size: 20px;
}


.container {
    margin: 0px;
}

.col-3 {
        background-image: url(https://images.unsplash.com/photo-1506710766034-d5b43d2af393?ixlib=rb-1.2.1&auto=format&fit=crop&w=1558&q=80);
    background-color: white;
    height: 1800px;
    padding-top: 10px;
    background-size: cover;
}

h1 {
    font-size: 230px; 
    color: #15655f;
}

h2 {
    font-size: 80px;
    color: #4b4b4b;
}

.btn {
    font-size: 25px;
    color:#67e6dc;
    margin: 5px;
    height: 50px;
    width: 250px;
    padding:5px 10px 5px 10px;
}
.on {
    /* text-decoration: none !important; */
    color:#4b4b4b;
    
}



/* 
Add wave page
*/

form {
    text-align: left;
    border: 1px solid white;
    font-size: 20px;
    /* background-color: rgba(255, 255, 255, .75);*/
    width: 470px;
    font-weight: bold;
    color: navy;
    padding: 10px;
    margin: 5px;
}

label {
    height:10px;
    padding: 10px 0px;
}

input {
    height: 35px;
    width: 445px;
}

.dropDownLocationId {
    height: 2pc;
    width: 28pc;
    margin-bottom: 20px;
}

.formBtn {
    text-align: left;
}

/* 
Wave display page
*/



.pageTitle {
    color:black;
    font-size: 120px;
    padding: 30px 0px 30px 100px;

}

.col-lg-6 {
    padding: 30px 10px 30px 50px;
}

.img {
    width: 300px;
}

.waveTitle {
    color: #67e6dc;
    font-size: 70px;
    width: 460px;
    padding: 0px 0px 20px 0px;
}

.beachImage {
    width: 460px;
    height:250px;
    border-radius: 20px;
    border: 6px solid rgb(32, 183, 210);
}
